@import "tailwindcss";

/* Valkyrie */

@font-face {
	font-family: "valkyrie";
	src:  url('/tq-collation/fonts/ValkyrieARegular.woff2') format('woff2');
}

@font-face {
	font-family: "valkyrie";
	src:  url('/tq-collation/fonts/ValkyrieAItalic.woff2') format('woff2');
    font-style: italic;
}

@font-face {
	font-family: "valkyrie";
	src:  url('/tq-collation/fonts/ValkyrieABold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
	font-family: "valkyrie";
	src:  url('/tq-collation/fonts/ValkyrieABoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
	font-family: "valkyrie-caps";
	src:  url('/tq-collation/fonts/ValkyrieACapsRegular.woff2') format('woff2');
}

/* Garamond */

@font-face {
	font-family: "garamond";
	src:  url('/tq-collation/fonts/GaramondNo8-Reg.ttf') format('truetype');
}

@font-face {
	font-family: "garamond";
	src:  url('/tq-collation/fonts/GaramondNo8-Ita.ttf') format('truetype');
    font-style: italic;
}

@font-face {
	font-family: "garamond";
	src:  url('/tq-collation/fonts/GaramondNo8-Med.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
	font-family: "garamond";
	src:  url('/tq-collation/fonts/GaramondNo8-MedIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Declaration */

body {
    font-family: "valkyrie", "garamond";
}

del {
	text-decoration: line-through;
	text-decoration-color: oklch(63.7% 0.237 25.331)
}