---
import Layout from '../layouts/Layout.astro';
import Same from '../components/Same.astro';
import None from '../components/None.astro';
import Add from '../components/Add.astro';
import Rep from '../components/Replace.astro';
import Del from '../components/Delete.astro';
import Unc from '../components/Uncertain.astro';
import Mis from '../components/Mistake.astro';
import RepD from '../components/Replace-Dec.astro';
import DelD from '../components/Delete-Dec.astro';
import ID from '../components/Index.astro';
---

<Layout>
	<main class="overflow-x-auto">		
		<div class="text-justify leading-relaxed pb-10">
			<h1 class="text-center text-3xl font-bold mb-6">Tengwesta Quenderinwa</h1>
			<h2 class="text-center text-xl font-bold mb-6 leading-tight">General Historical Account<br/>of the<br/>Quendian Languages</h2>
			<!-- Row -->
			<div class="flex flex-col items-center justify-center">
			<!-- I would like all elements to be left aligned in this div -->
				<div class="text-left">
					<div><a href="/tq-collation/descent-of-tongues">A. Lambion Ontale</a></div>
					<div><a href="/tq-collation/component-sounds" class="pointer-events-none">B. Lámaquenta</a></div>
					<div><a href="/tq-collation/structure-of-bases" class="pointer-events-none">C. Sundokarme</a></div>
					<div><a href="/tq-collation/structure-of-bases" class="pointer-events-none">D. Lámasampane</a></div>
					<div><a href="/tq-collation/suffixion" class="pointer-events-none">E. Mestanyatse</a></div>
					<div><a href="/tq-collation/accentuation" class="pointer-events-none">F. Minquetyarme</a></div>
					<div><a href="/tq-collation/inventions" class="pointer-events-none">G. Common changes</a></div>
				</div>
			</div>
		</div>
	</main>
</Layout>
