---
// ArrowConnector.astro or ArrowConnector.jsx
const { n = 2 } = Astro.props;
---

<div class={`grid gap-x-6 ${n == 3 ? 'grid-cols-[4rem_repeat(3,24rem)]' : n == 4 ? 'grid-cols-[4rem_repeat(4,24rem)]' : 'grid-cols-[4rem_repeat(2,24rem)]'}`}>
  <slot />
</div>